extends layout

block content
    div.sidebar
        ul.tokens
            for token in tokenData
                li.token-item
                    a(href="#" class="token-item-link") #{token.identifier}


    div.content-right
        div.token-header
            h3#token-title Token Name
            span#token-tag token-tag
            p#token-sale-price Price
            p#token-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt dolor sit amet neque ornare, a sodales velit consectetur. Nunc at purus non dolor blandit rhoncus a eu turpis.

        // High charts container
        div(id="chart-container" )


    // Scripts for this page.
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://code.highcharts.com/stock/highstock.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")
    script(src="javascript/charts.js")
    //script(src="data/shorts.js")
